clover-energy >= 6.0.0a2
customtkinter >= 5.2.2
cx-Freeze >= 6.15.5
matplotlib == 3.10.3
numpy == 1.26.4
pandas == 2.3.3
RangeSlider == 2023.7.2
scipy == 1.11.4
seaborn == 0.13.2
tqdm == 4.67.1
ttkbootstrap == 1.10.1
